<section class="standard-form scrollable">
  <p class="hint">{{localize "CPR.settings.compendiumMenu.desc"}}</p>

  <div class="form-group">
    <label>
      {{localize "CPR.settings.criticalInjuryRollTableCompendium.name"}}
      <a class="fas fa-circle-question help-article"
        href="https://gitlab.com/cyberpunk-red-team/fvtt-cyberpunk-red-core/-/wikis/System-Documentation/Items/Critical-Injuries"
        data-tooltip="{{localize "CPR.settings.criticalInjuryRollTableCompendium.help"}}">
      </a>
    </label>
    <div class="form-fields">
      <select name="injuryChoice">
        {{selectOptions choicesCrit selected=critCurr localize=true}}
      </select>
    </div>

  </div>

  <div class="form-group">
    <label>
     {{localize "CPR.settings.netArchRollTableCompendium.name"}}
      <a class="fas fa-circle-question help-article"
        href="https://gitlab.com/cyberpunk-red-team/fvtt-cyberpunk-red-core/-/wikis/System-Documentation/Items/NET-Architecture"
        data-tooltip="{{localize "CPR.settings.netArchRollTableCompendium.help"}}">
      </a>
    </label>
    <div class="form-fields">
      <select name="netArchChoice">
        {{selectOptions choicesNet selected=netCurr localize=true}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label>
      {{localize "CPR.settings.dvRollTableCompendium.name"}}
      <a class="fas fa-circle-question help-article"
        href="https://gitlab.com/cyberpunk-red-team/fvtt-cyberpunk-red-core/-/wikis/System-Documentation/DV-Tables"
        data-tooltip="{{localize "CPR.settings.dvRollTableCompendium.help"}}">
      </a>
    </label>
    <div class="form-fields">
      <select name="dvChoice">
        {{selectOptions choicesDv selected=dvCurr localize=true}}
      </select>
    </div>
  </div>
</section>
